@import url(http://reset5.googlecode.com/hg/reset.min.css);

/*
*
* HTML & CSS Test
* Author: Justin Goldman
*
* Colors:

Blue: #00b7f1 
Yellow: #febe10 
Orange: #f78546
Burnt Orange: #d4631c 
White: #f1f3f6 
Grey: #aeb5be 
Dark: #323e48
*/

body {
    height: 100%;
    font-family: 'Source Sans Pro', serif;
}

.container {
    max-width: 90%;
    width: 960px;
    margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}

header nav a:link,
#mobile-nav a:link {
    color: #f1f3f6;
    font-family: 'Source Sans Pro', serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

footer nav a {
    text-decoration: none;
}

#mobile-nav a:visited,
#mobile-nav a:hover,
#mobile-nav a:active {
    color: #f1f3f6;
}

header nav a:visited,
header nav a:hover,
header nav a:active {
    color: #f1f3f6;
}

h1 {
    font-size: 28px;
    color: #febe10;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 18px;
    color: #323e48;
    font-family: 'Lora', serif;
}

h3 {
    font-size: 14px;
    color: #00b7f1;
    font-family: 'Source Sans Pro', serif;
    text-transform: uppercase;
}

#mobile-nav ul li:nth-child(3) a {
    color: #febe10;
}

header nav ul li:nth-child(3) a {
    color: #323e48;
}


/** HEADER **/

header {
    width: 100%;
    height: 72px;
    background-color: #00b7f1;
}

#logo {
    float: left;
    height: 72px;
    line-height: 72px;
}


/** NAVIGATION **/

header nav,
footer nav {
    float: right;
}

header nav ul {
    overflow: hidden;
}

header nav li {
    float: left;
    padding: 0 20px;
}

footer nav li {
    float: left;
    padding: 0 10px;
}

header nav a {
    display: block;
    height: 72px;
    line-height: 72px;
    text-align: center;
}


/** MOBILE NAV **/

#hamburger {
    display: none;
    width: 70px;
    height: 70px;
    background: url(../images/hamburger-icon.png) center no-repeat;
    float: right;
}

#mobile-nav {
    display: none;
    width: 100%;
}

#mobile-nav li {
    background-color: #d4631c;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #fff;
    padding-right: 30px;
}


/** SERVICES SECTION **/

section:first-of-type img {
    float: left;
    margin-right: 50px;
    max-width: 100%;
    height: auto;
}

section:first-of-type article {
    overflow: hidden;
    padding: 50px 0px;
}

section:first-of-type article p {
    line-height: 24px;
    font-family: 'Source Sans Pro', serif;
    font-weight: 400;
}


/** WHY YOU SHOULD HIRE US SECTION **/

section:nth-child(3) {
    padding: 50px 0 20px 0;
    background-color: #f1f3f6;
    overflow: auto;
    border-top: 1px solid #D0D5DB;
}

section:nth-child(3) article {
    width: calc(100% / 2 - 20px);
    padding: 25px 0;
    float: left;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Source Sans Pro', serif;
    font-weight: 400;
}

section:nth-child(3) article:nth-of-type(2n + 1) {
    margin-right: 40px;
}


/** CLEAR FIX FOR 3rd ARTICLE **/

section:nth-child(3) article:nth-of-type(3n + 3) {
    clear: both;
}


/**  END **/

.learn {
    padding: 20px 0;
    text-align: center;
}

.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: 'Source Sans Pro', serif;
    color: #ffffff;
    font-size: 16px;
    background: #febe10;
    text-transform: uppercase;
    padding: 5px 25px 5px 25px;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}

.btn:hover {
    background: #f78546;
    text-decoration: none;
}


/** NEWSLETTER SECTION **/

section:nth-child(4) {
    background-color: #d4631c;
    padding: 50px 0;
}

#newsletter {
    margin: 0 auto;
    max-width: 500px;
}

#newsletter legend {
    color: #fff;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 0 5px;
}

#newsletter {
    text-align: center;
}

#newsletter fieldset {
    border: 1px solid rgba(255, 255, 255, .4);
    border-radius: 5px;
    padding: 20px 25px;
}

#newsletter label {
    color: #fff;
    font-family: 'Source Sans Pro', serif;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    padding: 10px;
}

#newsletter input[type="text"] {
    color: #aeb5be;
}

#newsletter input[type="submit"] {
    color: #fff;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
    line-height: 35px;
    display: inline-block;
    border: 0;
}

#email {
    margin-bottom: 20px;
}

#newsletter input[type="text"] {
    padding: 10px 0;
    border: 1px solid #aeb5be;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

/** HONEYPOT **/


input[type="text"]#honeypot{
    
    display: none;
}
/** FOOTER **/

footer {
    background-color: #323e48;
    overflow: hidden;
}

footer p {
    float: left;
    line-height: 50px;
    color: #aeb5be;
    font-family: 'Lora', serif;
    font-size: 14px;
}

footer nav a {
    color: #aeb5be;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}


/* test */

.appear {
    display: block;
}


/** MEDIA QUERIES **/

@media only screen and (min-width: 200px) and (max-width: 480px) {
    body {}
    .container {}
    header nav {
        display: none;
    }
    #hamburger {
        display: inline;
    }
    h1 {
        float: left;
        margin-top: 60px;
    }
    section:first-of-type img {
        float: left;
        width: 20%;
        height: 20%;
        margin-right: 20px;
    }
    section:first-of-type article p {
        clear: both;
    }
    section:nth-child(3) article {
        width: 100%;
    }
    .learn {
        text-align: left;
    }
    footer p {
        text-align: center;
        width: 100%;
    }
    footer nav {
        float: none;
        text-align: center;
    }
    footer nav ul {
        display: inline-block;
    }
}

@media only screen and (min-width: 481px) and (max-width: 739px) {
    header nav {
        display: none;
    }
    #hamburger {
        display: block;
    }
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {}